.start-container-2 {
    display: flex;
  }
  
  .primery-container-2 {
    margin-top: 50px;
    width: 60%;
  }
  
  .secundary-container-2 {
    width: 40%;
  }
  .section-one-2{
    margin-left: 20px;
    margin-right: 30px;
  }
  .section-one-2 h4, p{
    text-align: justify;
  }
  .container-img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#imv{
    width: 350px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
  