.head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70px;
  position: relative;
}
.head-bolivia img {
  width: 150px;
  height: 150px;
}
.head-comibol img {
  width: 200px;
  height: 150px;
}


.head-bolivia,
.head-nombre,
.head-comibol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-nombre {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.head-nombre h2,
.head-nombre h3 {
  margin: 0;
  text-align: center;
}

.head-imagenes {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 30.25%; /* Proporción 16:9 (para una imagen de 1920x1080) */
  overflow: hidden;
}

.head-imagenes img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: moveCamera 10s infinite;
}


