.start-container {
  display: flex;
}

.primery-container {
  margin-top: 30px;

  width: 50%;
}

.secundary-container {
  width: 50%;
}
.section-one {
  margin-left: 20px;
  margin-right: 30px;
}
.section-one h4,
p {
  text-align: justify;
}

#im1,
#im2 {
  width: 350px;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin-top: 10px;
}
li:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container-img #im1 {
    width: 250px;
    height: 150px;
  }
  .container-img #im2 {
    width: 250px;
    height: 150px;
  }

  .section-one {
    margin-left: 2px0;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .start-container {
    flex-direction: column;
  }

  .primery-container,
  .secundary-container {
    width: 100%;
    margin-right: 0;
  }
  .secundary-container {
    margin-left: -45px;
  }

  #im1,
  #im2 {
    width: 350px;
    height: 250px;

  }
}
